html, body, main{
    overflow-x: hidden;
}
/* mobile  */
@media (max-width: 767.98px) {
    .nav-text{
        color: #173573;
    }
    .h1-header{
        text-align: center;
        font-size: 30px;
        color: #173573;
        font-weight: bold;
    }
    .p-header{
        text-align: center;
        font-size: 15px;
    }
    .btn-header{
        width: 100%;
    }
    .img-header{
        width: 200px;
    }
    .img-logo-company{
        width: 120px;
    }
    .section-1{
        text-align: center;
    }
    .img-section-1{
        width: 300px;
    }
    .visible-desktop{
        display: none;
    }
    .card-section3{
        width:400px;
        height: 100px;
        border:2px solid white;
    }
    .text-button-floating{
        display: none;
    }
    .navbar{
        position: fixed;
        background-color: white;
    }
}
/* Desktop  */
@media (min-width: 767.98px) {
    .masuk{
        text-decoration: none;
        color: #173573;
    }
    .nav-link{
        color: #173573;
    }
    .h1-header{
        color: #173573;
        font-size: 43px;
        font-weight: bold;
    }
    .p-header{
        font-size:20px;
    }
    .btn-header{
        height: 60px; 
    }
    .card-section3{
        width: 15rem;
        height: 10rem;
        border:2px solid white;
    }
    .visible-mobile{
        display: none;
    }
    .navbar{
        background-color:white;
        position: fixed;
        padding-left: 100px;
        padding-right: 100px;
    }
    
}
